<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="{{HOME_LINK}}" class="logo d-flex align-items-center">
          <span>TJMUN</span>
        </a>
        <div class="social-links d-flex mt-4">
          <a href="https://www.facebook.com/tjhsstmun" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/tjhsstmun/" class="instagram"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{{HOME_LINK}}">Home</a></li>
          <li><a href="{{LEADERSHIP_LINK}}">Leadership</a></li>
          <li><a href="{{CALENDAR_LINK}}">Calendar</a></li>
          <li><a href="{{TECHMUN_LINK}}">TECHMUN</a></li>
          <li><a href="{{FORMS_LINK}}">Forms</a></li>
          <li><a href="{{AWARDS_LINK}}">Awards</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          6560 Braddock Rd <br>
          Alexandria, VA 22312<br>
          United States <br><br>
          <strong>Email:</strong> tjmodelun@gmail.com<br>
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>TJMUN</span></strong>. All Rights Reserved.
    </div>
    <div class="credits">
    </div>
  </div>
</footer>
