<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{{HOME_LINK}}" class="logo d-flex align-items-center">
      <img src="{{ASSETS_PATH}}assets/img/logo5.png" alt="TJMUN Logo">
      <h1>TJMUN</h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
    <!-- Include Navigation -->
    {{NAVIGATION_CONTENT}}

  </div>
</header>
