<div class="nav-inner">
  <nav id="navbar" class="navbar">
    <ul>
      <li><a href="/index.html" class="active">HOME</a></li>
      <li class="dropdown">
        <a href="/pages/techmun/invitation.html" class="active"
          ><span>TECHMUN</span> <i class="bi bi-chevron-down dropdown-indicator"></i
        ></a>
        <ul>
          <li class="invitation-link"><a href="/pages/techmun/invitation.html">Invitation</a></li>
          <li><a href="/pages/techmun/registration.html">Registration</a></li>
          <li><a href="/pages/techmun/directors.html">Directors</a></li>
          <li><a href="/pages/techmun/schedule.html">Schedule</a></li>
          <li><a href="/pages/techmun/position-papers.html">Position Papers</a></li>
          <li><a href="/pages/techmun/conference-policies.html">Conference Policies</a></li>
          <li><a href="/pages/techmun/closings.html">Closing Information</a></li>
          <li><a href="/pages/techmun/sponsor-us.html">Sponsor Us</a></li>
        </ul>
      </li>
      <li><a href="/pages/about/leadership.html" class="active">LEADERSHIP</a></li>
      <li><a href="/pages/events/forms.html" class="active">FORMS</a></li>
      <li><a href="/pages/about/awards.html" class="active">AWARDS</a></li>
      <li><a href="/pages/techmun/sponsor-us.html" class="active">SPONSOR US</a></li>
    </ul>
  </nav>
</div>

<!--

IMPORTANT: Paste this code into another file in replacement of the navbar section in order
to make it follow this navigation template:

<div id="navbar-container"></div>
<script>
  fetch('/templates/navigation.html')
    .then(res => res.text())
    .then(html => {
      document.getElementById('navbar-container').innerHTML = html;
    });
</script>

-->
