<nav id="navbar" class="navbar">
  <ul>
    <li><a href="{{HOME_LINK}}" {{HOME_ACTIVE}}>HOME</a></li>
    <li><a href="{{LEADERSHIP_LINK}}" {{LEADERSHIP_ACTIVE}}>LEADERSHIP</a></li>
    <li><a href="{{CALENDAR_LINK}}" {{CALENDAR_ACTIVE}}>CALENDAR</a></li>
    <li class="dropdown">
      <a href="{{TECHMUN_LINK}}"><span>TECHMUN</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
      <ul>
        <li class="invitation-link"><a href="{{INVITATION_LINK}}">Invitation</a></li>
        <li><a href="{{REGISTRATION_LINK}}">Registration</a></li>
        <li><a href="{{DIRECTORS_LINK}}">Directors</a></li>
        <li><a href="{{COMMITTEES_LINK}}">Committees</a></li>
        <li><a href="{{SCHEDULE_LINK}}">Schedule</a></li>
        <li><a href="{{POSITION_PAPERS_LINK}}">Position Papers</a></li>
        <li><a href="{{CONFERENCE_POLICIES_LINK}}">Conference Policies</a></li>
        <li><a href="{{GUEST_SPEAKERS_LINK}}">Guest Speakers</a></li>
      </ul>
    </li>
    <li><a href="{{FORMS_LINK}}" {{FORMS_ACTIVE}}>FORMS</a></li>
    <li><a href="{{AWARDS_LINK}}" {{AWARDS_ACTIVE}}>AWARDS</a></li>
  </ul>
</nav>
